body {
  font-family: "Lato";
  font-weight: 300;
}

nav {
  background-color: #C75E55
}


header {
  font-family: "Merriweather";
  font-weight: 300;
  color: #ffffff;
  height: 90vh;
  background-image: url('../img/yo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 25%;
}

header div:first-child div:nth-of-type(1) {
  background-color: #00000070;
  height: 90vh;

}

header h1{
  font-size:5em;
}

header h2 {
font-size: 3em;
margin-top: 35%;
}

section:first-child {
  font-size: 40px;
}

section article:nth-of-type(2){
  background-color: #DAC7B8;
  font-size: 2em;
}


footer {
  height: 20vh;

}
